body{
  display: flex;
  justify-content: center;
  position: relative;
}

.portrait-helper{
  position: absolute;
  top: 40vh;
  text-align: center;
  width: 100%;
  background-color: darkcyan;
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 651px){
  .portrait-helper{
    display: none;
  }
}

a, a:link, a:hover, a:visited{
  color: black;
}

.controls{
  display: none;
}