body{
  display: flex;
  justify-content: center;
  position: relative;
}

@media screen and (max-height: 600px){
  .portrait-helper{
    display: none;
  }
}

@media screen and (max-height: 600px){
  .portrait-helper{
    position: absolute;
    top: 40vh;
    text-align: center;
    width: 100%;
    background-color: darkcyan;
    color: white;
    font-size: 30px;
  }
}