body{
  display: flex;
  justify-content: center;
  position: relative;
}

.portrait-helper{
  position: absolute;
  top: 40vh;
  text-align: center;
  width: 100%;
  background-color: darkcyan;
  color: white;
  font-size: 30px;
}